# for the dev on the project 
pip freeze > requirements.txt

#beautifulsoop library
sudo apt-get install python3-bs4
#pandas library
sudo apt-get install python3-pandas

# setuptools
pip3 install setuptools

pip3 install scikit-learn
